@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(50, 129, 146);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    outline: 0;
}

h1 {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
}


form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    border-radius: 45%;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    width: 30%;
    margin-left: 35%;
    text-align: center;

}

.resultado {
    border: none;
    background: white;
    color: rgb(15, 102, 5);
    font-size: 30px;
    font-weight: 700;
    height: 50px;
    text-align: center;
}

form button:hover {
    background: var(--primary-color-darker);
}
